body {
  background-color: blue;
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
#saveButton {
  margin-top: 20px;
}
.validation-summary-errors {
  color: red;
}
.gray-round {
  background-color: #f4f4f4;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.blockcenter {
  margin-left: auto;
  margin-right: auto;
}
.link-action {
  -moz-user-select: none;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fe8c3f, #fd4b00) repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}