@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Søndervangsvej 43<br />
    4581 Rørvig<br />
    <abbr title="Telefon">T:</abbr>
    4252 1115
</address>

<address>
    <strong>Informationen:</strong>   <a href="mailto:info@Nakkefestival.dk">Info@Nakkefestival.dk</a><br />
    <strong>Pladsen:</strong> <a href="mailto:pladsen@nakkefestival.dk">Pladsen@Nakkefestival.dk</a>
</address>